############################################
# Archivos y carpetas de compilación (.NET)
############################################
**/bin/
**/obj/
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Oo]bj/

############################################
# Archivos de compilación de VS Code / Visual Studio
############################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

############################################
# Archivos temporales y de depuración
############################################
*.log
*.tlog
*.vspscc
*.vssscc
*.cache
*.pdb
*.mdb
*.opendb
*.dbmdl
*.jfm

############################################
# Archivos de base de datos locales
############################################
*.mdf
*.ldf
*.ndf

############################################
# Archivos generados automáticamente
############################################
*.AssemblyInfo.cs
*.Generated.*
*.g.cs
*.g.i.cs

############################################
# Configuración de extensiones de IDE
############################################
_ReSharper*/
*_ReSharper.*
*.DotSettings.user
